{:paths
 ["src"]
 :deps
 {org.clojure/clojure        {:mvn/version "1.10.1" :scope "provided"}
  org.clojure/clojurescript  {:mvn/version "1.10.773" :scope "provided"}
  com.cognitect/transit-clj  {:mvn/version "1.0.324"}
  com.cognitect/transit-cljs {:mvn/version "0.8.264"}
  lambdaisland/fetch         {:git/url "https://github.com/den1k/fetch"
                              :sha     "25cbe2cfbe1a297989cad31f7194b8b0e6806f00"}
  appliedscience/js-interop  {:mvn/version "0.2.5"}
  mhuebert/kitchen-async     {:mvn/version "0.1.0"}}}
