{:paths
 ["src"]
 :deps
 {org.clojure/clojure        {:mvn/version "1.10.1"}
  org.clojure/clojurescript  {:mvn/version "1.10.597"}
  org.clojure/core.async     {:mvn/version "0.7.559"}
  com.cognitect/transit-clj  {:mvn/version "0.8.313"}
  com.cognitect/transit-cljs {:mvn/version "0.8.256"}

  appliedscience/js-interop  {:mvn/version "0.1.20"}
  cljs-http                  {:mvn/version "0.1.46"}
  kitchen-async              {:mvn/version "0.1.0-SNAPSHOT"}

  }
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps  {org.clojure/test.check {:mvn/version "0.10.0"}}}
  :runner
        {:extra-deps {com.cognitect/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner"
                       :sha     "76568540e7f40268ad2b646110f237a60295fa3c"}}
         :main-opts  ["-m" "cognitect.test-runner"
                      "-d" "test"]}}}
